body {
	background: #1f1414;
	font-family: 'Raleway', sans-serif;
	margin: 0;
}

h1, h2, h3, h4, h5 {
	color: #fff;
	margin: 0;
}

#header {
	position: absolute;
	width: 100%;
}

.header {
	color: #936c6c;
	font-size: 14px;
	font-weight: bold;
	background: none;
	border: none;
	outline: none;
}

.header2 {
	color: #936c6c;
	font-size: 17px;
	font-weight: bold;
	background: none;
	border: none;
	outline: none;	
}

.link {
	cursor: pointer;
}

.link:hover {
	color: #c80000;
}

.link2 {
	color: #936c6c;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	text-decoration: none;
}

.link2:hover {
	cursor: pointer;
}

.link3 {
	color: #fff;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	text-decoration: none;
}

.link3:hover {
	cursor: pointer;
}

#user-details {
	position: absolute;
	margin-top: 50vh;
	margin-left: 50%;
	transform: translate(-50%, -50%);
}

table {
	color: #fff;
}

td {
	padding: 10px;
}

span {
	font-size: 15px;
	font-weight: bold;
}

.text-box {
	background: none;
	color: #fff;
	border-style: solid;
	border-color: #936c6c;
	border-top: none;
	border-left: none;
	border-right: none;
	font-size: 15px;
	padding: 4px;
	width: 100%;
	transition: border 0.5s;
	outline: none;
}

.text-box:focus {
	border-color: #c80000;
}

img {
	border-radius: 10px;
}

#avatar {
	height: 250px;
}

.btn {
	font-size: 15px;
	font-weight: bold;
	color: #1f1414;
	padding: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 7px;
	border-style: none;
	background: #c80000;
	cursor: pointer;
	outline: none;
}

.btn:hover {
	background: #af0000;
}

.btn:disabled {
	background: #af0000;
	cursor: not-allowed;
}

.btn2 {
	color: #c80000;
	cursor: pointer;
}

.btn2:hover {
	color: #af0000;
}

.btn3 {
	font-size: 15px;
	font-weight: bold;
	color: #936c6c;
	padding: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 7px;
	border-style: none;
	background: none;
	cursor: pointer;
	outline: none;
}

.btn3:hover {
	background: #261c1c;
}

p {
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	font-size: 15px;
}

#modal-background, #modal-background2 {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #1f1414;
	opacity: 0.9;
	display: none;
}

.modal {
	text-align: center;
	position: absolute;
	border-radius: 10px;
	width: 365px;
	padding: 10px;
	background: #1f1414;
	margin-left: 50%;
	margin-top: 50vh;
	box-shadow: 0 7px 15px #000;
	transform: translate(-50%, -50%);
	display: none;
}

.show-modal {
	display: block;
	animation: fadeIn 0.5s, zoomIn 0.5s;
}

@keyframes fadeIn {
	from {opacity: 0; transform: translate(-50%, -50%);}
	to {opacity: 1; transform: translate(-50%, -50%);}
}

@keyframes zoomIn {
	from {transform: translate(-50%, -50%) scale(0.8);}
	to {transform: translate(-50%, -50%) scale(1);}
}

#close {
	color: #936c6c;
}

#close:hover {
	color: #c80000;
}

::placeholder {
	color: #936c6c;
}

textArea {
	background: none;
	color: #fff;
	margin-bottom: 10px;
	border-style: solid;
	border-color: #936c6c;
	border-top: none;
	border-left: none;
	border-right: none;
	border-width: 2px;
	font-size: 15px;
	padding: 4px;
	width: 100%;
	transition: border 0.5s;
	outline: none;
	resize: none;
}

textArea:focus {
	border-color: #c80000;
}

#town-players {
	position: absolute;
	text-align: center;
	margin-left: 50%;
	margin-top: 15vh;
	max-width: 90%;
	transform: translate(-50%, 0%);
}

#player-cards {
	max-width: 100%;
	display: inline-flex;
	overflow-x: auto;
}

#share {
	color: #936c6c;
	width: 100%;
	margin-top: 1.5%;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -60px;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}

figcaption {
	margin: 5px;
	color: #fff;
	text-align: center;
}

#game {
	position: absolute;
	margin-left: 50%;
	margin-top: 46vh;
	width: 100%;
	text-align: center;
	transform: translate(-50%, -50%);
}

#game-content {
	border: none;
	border-spacing: 10px;
	width: 90%;
	margin-left: 50%;
	transform: translate(-50%, 0%);
}

#game-content-l, #game-content-r {
	border-style: solid;
	border-radius: 20px;
	border-color: #936c6c;
	vertical-align: top;
	padding: 1.5%;
}

#chat-box {
	width: 100%;
	font-size: 15px;
	background: none;
	color: #fff;
	padding: 7px 10px 7px 10px;
	border-style: solid;
	border-color: #936c6c;
	border-radius: 10px;
	transition: border 0.5s;
	outline: none;
}

#chat-box:focus {
	border-color: #c80000;
}

.message {
	display: inline-block;
	max-width: 60%;
	padding: 10px;
	margin: 10px;
	margin-top: 10px;
	margin-bottom: 0px;
	text-align: left;
	word-break: break-word;
	border-radius: 7px;
}

#candidates {
	max-width: 100%;
	display: inline-flex;
	overflow-x: auto;
}

.candidate {
	cursor: pointer;
	transition: transform 0.5s;
}

.candidate:hover {
	transform: scale(1.1);
	box-shadow: 0 7px 15px #000;
}

.candidate-mafia {

}

.candidate-medic:hover {

}


.candidate-medic {

}

.candidate-medic:hover {

}

.candidate-sherrif {

}

.candidate-sherrif:hover {

}
